* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background: rgb(174, 116, 116);
    color: white;
    padding: 20px;
    text-align: center;
}

.container {
    width: 960px;
    margin: 20px auto;
    overflow: hidden; /* clears floats */
}

.sidebar {
    float: left;
    width: 250px;
    background: gray;
    padding: 15px;
    color: white;
}

.maincontent {
    float: right;
    width: 690px; /* 960 - 250 - 20 padding gap */
    background: #f2f2f2;
    padding: 15px;
}
